body {
	margin: 0;
	display: flex;
	justify-content: center;
}

.container {
	width: 100%;
	max-width: 960px;
}

header {
	display: grid;
}

header h1, h2, h3 {
	display: inline;
	margin: 0;
}

#title {
	grid-column: 1;
	grid-row: 1;

	background: yellow;

	display: flex;
	align-items: end;
}

#subtitle {
	grid-column: 2 / 4;
	grid-row: 1;

	background: khaki;

	display: flex;
	align-items: end;
}

#year {
	grid-column: 4;
	grid-row: 1;

	background: darkkhaki;

	display: flex;
	align-items: end;
}

audio {
	width: 67px;
}

#audio {
	grid-column: 5;
	grid-row: 1;

	background: gray;
}

#subsubtitle {
	grid-column: 1 / 6;
	grid-row: 2;

	background: darkturquoise;
}

#hero {
	display: grid;

	background: lightblue;
}

#points {
	grid-column: 1;
	grid-row: 1 / 4;
}

#date {
	grid-column: 2;
	grid-row: 1;

	margin-top: 16px;
}

#news {
	grid-column: 2;
	grid-row: 2;
}

#regform {
	grid-column: 2;
	grid-row: 3;

	margin-bottom: 16px;
}

#marquee {
	grid-column: 1 / 3;
	grid-row: 4;

	background: black;
	color: white;
}

.container > h2, h3 {
	display: block;
}

.container > h2 {
	background: khaki;
}

.container > h3 {
	background: darkkhaki;
}

p > strong {
	background: lightblue;
}

li > p:first-child {
	background: lightblue;
}

img, iframe{
	width: min(100vw, 960px);
}

ol iframe {
	width: min(calc(100vw - 40px), 920px);
}

#schedule {
	height: 280px;
}

.two-one {
	display: flex;
	flex-wrap: wrap;
}

.two-one > iframe {
	height: 400px;
	width: 100%;
}

.two-one > :first-child {
	flex: 1;
}

.two-one > :last-child {
	flex: 2;
}

#workshoplist {
	height: 240px;
}

#peoplebook {
	height: 560px;
}

.pay {
	height: 200px !important;
}

.blink {
	animation: blinker 2s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

footer {
	background: black;
	color: white;
	font-family: monospace;
}
